* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: #A2ACBD; */
  margin: 0;
  padding: 0;
  /* text-align: center; */
  background-color: #6A9A8B20;
}
.App {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 100;
}
hr {
  /* background-color: black;
  border-top:1px solid black;
  border-bottom: 1px solid black; */
  border: 2px solid black;

}

