* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background-color: #EAEAEA;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 100;
}
hr {
  /* background-color: black;
  border-top:1px solid black;
  border-bottom: 1px solid black; */
  border: 2px solid black;

}

