.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3em 0;
    padding: 4em;
}
.aboutPara {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 45vw;
    height: 80%;
    line-height: 1.5;
}
.aboutPara h1 {
    text-align: justify;
    margin-left: 4.5em;
    align-self: baseline;
}
.aboutPara p {
    text-align: justify;
    align-self: baseline;
    font-size: 17px;
    font-weight: 200;
}
.about img{
    opacity: 0.8;
    border-radius: 20px;
    margin: -2em 0 10em 12em;
    width: 60%;
    height: 60vh;
}
.imgDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3em;
}
.imgDiv p {
    width: 80%;
    font-weight: 200;
    font-size: 17px;
    margin-left: 5em;
}
.imgDivPara {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin-bottom: 7em;
}
.imgDivPara h3 {
    margin: 1em 0 3em 0 ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.321);
}
.imgDivPara ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5em;
}
.imgDivPara ul > li {
    display: flex;
    flex-direction: column;
    font-weight: 200;
    margin: 1em 0 0 2em;
}
.imgDivPara ul > li > img {
    border-radius: 0;
    padding: 10px;
    margin: 0;
    align-self: center;
    width: 40px;
    height: 40px;
}

@media (min-width: 320px) {
    .about {
        margin-top: -10em;
        margin-left: 1em;
        padding: 0;
        align-items: center;
    }
    .about img {
        margin: 1em 0;
        padding: 0;
        width: 230px;
        height: 270px;
    }
    .aboutPara {
        text-align: center;
        width: 100%;
        align-items: center;
    }
    .aboutPara h1 {
        margin: 0;
        text-align: center;
        align-self: center;
    }
    .aboutPara p {
        align-self: center;
        font-size: 13px;
        width: 50%;
    }
    .imgDiv {
        flex-direction: column;
    }
    .imgDiv p {
        font-size: 13px;
        margin-right: 5em;
    }
    .imgDivPara {
        justify-content: center;
        text-align: center;
        align-self: center;
        margin: 0;
    }
    .imgDivPara p {
        align-self: center;
        text-align: center;
    }
    .imgDivPara h3 {
        margin: 0;
        text-align: center;
    }
    .imgDivPara ul {
        margin-right:3.6em;
    }
    .imgDivPara ul > li {
        font-size: 12px;
    }
    .imgDivPara ul > li > img {
        width: 20px;
        height: 20px;
    }
}
@media (min-width: 668px) {
    .about {
        margin: 10em 10em 0 0;
    }
    .about img {
        margin: 0 0 25em 20em;
        padding: 0;
        width: 40%;
        height: 50%;
    }
    .imgDiv {
        justify-content: center;
        align-items: center;
    }

}