.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aboutPara {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 45vw;
    height: 80%;
    line-height: 1.5;
}
.aboutPara h1 {
    text-align: justify;
    margin-left: 4.5em;
    align-self: baseline;
}
.aboutPara p {
    text-align: justify;
    align-self: baseline;
    font-size: 18px;
    font-weight: 200;
}
.about img{
    border-radius: 20px;
    margin: 2em 23em;
    width: 300px;
    height: 450px;
}