@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.about {
    animation: fadeIn 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3em 0;
    padding: 4em;
    
}
.aboutPara {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 45vw;
    height: 80%;
    line-height: 1.5;
}
.aboutPara h1 {
    text-align: justify;
    margin-left: 4.5em;
    align-self: baseline;
}
.aboutPara p {
    text-align: justify;
    align-self: baseline;
    font-size: 17px;
    font-weight: 200;
}
.about img{
    opacity: 0.7;
    border-radius: 20px;
    margin: -2em 0 10em 12em;
    width: 50%;
    height: 40vh;
}
.imgDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3em;
}
.imgDiv p {
    width: 80%;
    font-weight: 200;
    font-size: 17px;
    margin-left: 5em;
}
.imgDivPara {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin-bottom: 7em;
}
.imgDivPara h3 {
    margin-left: 1em 0 3em 0 ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.321);
}
.imgDivPara ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5em;
}
.imgDivPara ul > li {
    display: flex;
    flex-direction: column;
    font-weight: 200;
    margin: 1em 0 0 2em;
}
.imgDivPara ul > li > img {
    border-radius: 0;
    padding: 10px;
    margin: 0;
    align-self: center;
    width: 40px;
    height: 40px;
}