.homeIntro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 3em 14em;
    padding: 3em;
    width: 45vw;
    height: 50vh;
}
.homeIntro h1 {
    font-size: 55px;
    text-align: justify;
    align-self: baseline;
}
.homeIntro p {
    width: 80%;
    text-align: justify;
    align-self: baseline;
    font-size: 20px;
    font-weight: 200;
}
.homeIntro h3 > p > ul {
    list-style: none;
}
.homeIntro .button {
    transition: 0.5s;
    border: none;
    padding: 1em;
    margin: 1.5em; 
    width: 11em;
    height: 3em;
    background-color: #6A9A8B;
    border-radius: 20px;
    cursor: pointer;
}
.homeIntro .button:hover {
    transition: 0.5s;
    color: #EAEAEA;
    box-shadow: 0px 3px 21px 1px rgba(106,154,139,1);
}