@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.homeIntro {
    animation: fadeIn 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 4em;
    padding: 10em;
    width: 45vw;
    height: 50vh;
    line-height: 1.5;
}
.homeIntro h1 {
    font-size: 65px;
    text-align: justify;
    align-self: baseline;
}
.homeIntro p {
    width: 90%;
    text-align: justify;
    align-self: baseline;
    font-size: 23px;
    font-weight: 200;
}
.homeIntro h3 > p > ul {
    list-style: none;
}
.homeIntro .button {
    transition: 0.5s;
    border: none;
    padding: 1em;
    margin: 1.5em; 
    width: 11em;
    height: 3em;
    background-color: #6A9A8B;
    border-radius: 20px;
    cursor: pointer;
}
.homeIntro .button:hover {
    transition: 0.5s;
    color: #EAEAEA;
    box-shadow: 0px 3px 21px 1px rgba(106,154,139,1);
}