.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #736E7C;
    font-weight: 300;
    /* height: 8vh; */
}
.nav h1 {
    margin-left: 1em;
}
.nav ul {
    display: flex;
    list-style: none;
}
.nav ul li {
    margin: 1em;
    transition: 0.3s;
}
.nav ul li:hover {
    scale: 1.1;
    transition: 0.3s;
}
