.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #736e7c81;
    font-weight: 300;
}
.nav h1 {
    margin-left: 1em;
}
.nav ul {
    display: flex;
    list-style: none;
}
.nav ul li {
    margin: 1em;
    transition: 0.3s;
}
.nav ul li:hover {
    scale: 1.1;
    transition: 0.3s;
}
