.projectContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 280px);
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 2.5em;
    margin: 2.5em 0;
}
.projectPara {
    margin-top: 5em;
    margin-left: 10em;    
    text-align: left;
}
.projectPara h1 {
    text-align: left;
    font-size: 50px;
}
.projectPara p {
    font-size: 20px;
    font-weight: 200;
}
.projectGrid {
    display: grid;
    grid-column: 2/2;
    grid-row: 2/2;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 230px);
    justify-content: center;
    align-items: center;
    margin-bottom: 15em;
}
.project0,.project2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 30vh;
    padding: 0.7em;
    background-image: linear-gradient(to right top, #002d5580, #00567780, #007f8280, #50a67c80, #aec67980);
    margin-bottom: 5em;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 5px 10px 10px 0px rgba(0,0,10,0.08);

}
.project0Header, .project1Header, .project2Header, .project3Header {
    margin-right: 4em;
}
.project3Header {
    margin-bottom: 2.5em;
}
.project0Link, .project1Link, .project2Link, .project3Link {
    margin-left: 11em;
    margin-top: 1em;
    font-size: 13px;
}
.project0Link a, .project1Link a, .project2Link a, .project3Link a {
    transition: 0.3s;
    text-decoration: none;
    color: black;
}
.project0Link a:hover, .project1Link a:hover, .project2Link a:hover, .project3Link a:hover {
    color: #ffffffdd;
}
.project1, .project3 {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right top, #002d5580, #00567780, #007f8280, #50a67c80, #aec67980);
    box-shadow: -5px 10px 10px 0px rgba(0,0,10,0.08);
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 30vh;
    padding: 0.5em;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

@media screen and (min-width: 360px) and (max-width: 414px) {
    .projectContainer {
        display: flex;
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3em;
    }
    .projectPara {
        margin: 1em;
        text-align: center;
    }
    .projectPara h1 {
        text-align: center;
    }
    .projectPara p {
        font-size: 12px;
    }
    .projectGrid {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(2, 150px);
        gap: 20px;
    }
    .project0,.project2 {
        margin-bottom: 0;
        border-radius: 10px;
        padding: 1em;
        box-shadow: none;
        width: 20vw;
        height: 14vh;
    }
    .project1, .project3 {
        border-radius: 10px;
        padding: 1em;
        box-shadow: none;
        width: 20vw;
        height: 14vh;
    }
    .project0Header, .project1Header, .project2Header, .project3Header {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-top: 4em;
        font-size: 6px;
        margin-bottom: -11em;
        margin-left: 1em;
    }
    .project0Link , .project1Link , .project2Link , .project3Link  {
        font-size: 7px;
        margin: 7em 0 2em 8em;
    }
}
@media screen and (min-width: 360px) and (max-width: 375px) {
    .project0Header {
        margin-top: 11em;
        border: 3px solid red;
    }
    
}
@media screen and (min-width: 668px) and (max-width: 1180px) {
.projectPara {
    margin: 15em 10em 8em 15em;
    width: 100%;
    }
.projectGrid {
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    margin: 25em 10em 0 0;
    }
.project0,.project2 {
    height: 10vh;
    }
.project1, .project3 {
    height: 10vh;
    }
.project0Header, .project1Header, .project2Header, .project3Header {
    margin-bottom: -10em;
    font-size: 9px;
    }
.project1Header, .project2Header, .project3Header {
    margin-bottom: -6em;
    margin-left: 1em;
    }
.project0Link , .project1Link , .project2Link , .project3Link  {
    font-size: 9px;
    margin: 7em 0 2em 8em;
    }
}