@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.projectContainer {
    animation: fadeIn 0.5s;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 280px);
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.projectPara {
    margin-top: 5em;
    margin-left: 10em;    
    text-align: left;
}
.projectPara h1 {
    text-align: left;
    font-size: 50px;
}
.projectPara p {
    font-size: 20px;
    font-weight: 200;
}
.projectGrid {
    display: grid;
    grid-column: 2/2;
    grid-row: 2/2;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 250px);
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 5em;
}
.project0,.project2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 35vh;
    padding: 1em;
    background-image: linear-gradient(to right top, #002d5580, #00567780, #007f8280, #50a67c80, #aec67980);
    margin-bottom: 8em;
    border-top-left-radius: 30px;
    box-shadow: 5px 10px 10px 0px rgba(0,0,10,0.08);

}
.project0Header, .project2Header {
    margin-right: 4em;
}
.project0Link, .project2Link {
    margin-left: 10em;
    margin-top: 2em;
}
.project0Link a, .project2Link a {
    transition: 0.3s;
    text-decoration: none;
    color: black;
}
.project0Link a:hover, .project2Link a:hover {
    color: white;
}
.project1, .project3 {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right top, #002d5580, #00567780, #007f8280, #50a67c80, #aec67980);
    box-shadow: -5px 10px 10px 0px rgba(0,0,10,0.08);
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 35vh;
    padding: 1em;
    border-bottom-right-radius: 30px;
}